@font-face { font-family: Neon; src: url('../../assets/Neons_demo.otf'); } 

#header {
    height: 100px;
   
}
p {
    font-family: arial; 
    font-size: 25px;
    position: relative; 
    left: 250px;
    top: -90px;
    color: white;
    text-shadow: 1px 1px rgb(128, 128, 128);
    font-family: Neon;
}
#logo {
    background-color: black;
    height: 100px;
    width: 100vw;
    overflow: hidden;
}
img {
    padding: 10px;
    padding-left: 20px;
    transition: .2s;
}
img:hover {
    scale: 1.1;
    transition: .2s;
}