<div style="display: block; padding-bottom: 10px;">



<div id="container1a"><div id="container2">
<div id="box1" *ngFor="let dataPoints of lotr;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>




<div id="container2">
<div id="box" *ngFor="let dataPoints of data;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>

<div id="container1b"><div id="container2">
<div id="box1" *ngFor="let dataPoints of hobbit;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>



<div id="container2">
<div id="box" *ngFor="let dataPoints of sciFi;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>


<div id="container1b1">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of theMummy;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>

<div id="container2">
<div id="box" *ngFor="let dataPoints of sciFi2;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>

<div id="container1c">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of starTrek;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>


<div id="container2">
<div id="box" *ngFor="let dataPoints of action;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>


<div id="container1d">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of batman;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>


<div id="container2">
<div id="box" *ngFor="let dataPoints of comicBook;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>


<div id="container1e">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of avengers;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>


<div id="container2">
<div id="box" *ngFor="let dataPoints of horror;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>

<div id="container1f">

    <div id="container2">
    <div id="box1" *ngFor="let dataPoints of captainF;">
    <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
    <div id="card-grid">    
    <div id="A">{{dataPoints.title}}</div>
    <div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
    <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
    
    </div>
    </div>
    </div></div>

<div id="container2">
    <div id="box" *ngFor="let dataPoints of criticallyAcclaimed;">
    <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
    <div id="card-grid">    
    <div id="A">{{dataPoints.title}}</div>
    <div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
    <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
    
    </div>
    </div>
    </div>


    <div id="container1g">

        <div id="container2">
        <div id="box1" *ngFor="let dataPoints of simonP;">
        <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
        <div id="card-grid">    
        <div id="A">{{dataPoints.title}}</div>
        <div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
        <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
        
        </div>
        </div>
        </div></div>

</div>