
<div style="display: block; padding-bottom: 10px;">
<p style="color: white">{{display.fantasy}}{{display.sciFi}}{{display.action}}{{display.comicBook}}{{display.horror}}{{display.misc}}</p>
<div id="divider" [hidden]=display.sciFi [hidden]=display.action [hidden]=display.comicBook [hidden]=display.horror [hidden]=display.misc>

<div id="container1a"  ><div id="container2">
<div id="box1" *ngFor="let dataPoints of lotr;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div></div></div></div>




<div id="container2">
<div id="box" *ngFor="let dataPoints of data;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>

<div id="container1b"><div id="container2">
<div id="box1" *ngFor="let dataPoints of hobbit;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>
</div>

<div id="divider" [hidden]=display.fantasy [hidden]=display.action [hidden]=display.comicBook [hidden]=display.horror [hidden]=display.misc>

<div id="container2">
<div id="box" *ngFor="let dataPoints of sciFi1;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>


<div id="container1b1">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of theMummy;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>

<div id="container2">
<div id="box" *ngFor="let dataPoints of sciFi2;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>

<div id="container1c">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of starTrek;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>
</div>

<div id="divider" [hidden]=display.fantasy [hidden]=display.sciFi [hidden]=display.comicBook [hidden]=display.horror [hidden]=display.misc>

<div id="container2">
<div id="box" *ngFor="let dataPoints of action1;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>
</div>


<div id="divider" [hidden]=display.fantasy [hidden]=display.sciFi [hidden]=display.action [hidden]=display.horror [hidden]=display.misc>

<div id="container1d">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of batman;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>


<div id="container2">
<div id="box" *ngFor="let dataPoints of comicBook1;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>


<div id="container1e">

<div id="container2">
<div id="box1" *ngFor="let dataPoints of avengers;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div></div>
</div>


<div id="divider" [hidden]=display.fantasy [hidden]=display.sciFi [hidden]=display.action [hidden]=display.comicBook [hidden]=display.misc>

<div id="container2">
<div id="box" *ngFor="let dataPoints of horror1;">
<a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
<div id="card-grid">    
<div id="A">{{dataPoints.title}}</div>
<div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
<div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>

</div>
</div>
</div>
</div>


<div id="divider" [hidden]=display.fantasy [hidden]=display.sciFi [hidden]=display.action [hidden]=display.comicBook [hidden]=display.horror>


<div id="container1f">

    <div id="container2">
    <div id="box1" *ngFor="let dataPoints of captainF;">
    <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
    <div id="card-grid">    
    <div id="A">{{dataPoints.title}}</div>
    <div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
    <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
    
    </div>
    </div>
    </div></div>

<div id="container2">
    <div id="box" *ngFor="let dataPoints of criticallyAcclaimed;">
    <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
    <div id="card-grid">    
    <div id="A">{{dataPoints.title}}</div>
    <div id="B">{{dataPoints.title2}} ({{dataPoints.year}})</div>
    <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
    
    </div>
    </div>
    </div>


    <div id="container1g">

        <div id="container2">
        <div id="box1" *ngFor="let dataPoints of simonP;">
        <a href={{dataPoints.url}}><div id="image"><img src="{{dataPoints.image}}"></div></a>
        <div id="card-grid">    
        <div id="A">{{dataPoints.title}}</div>
        <div id="B">{{dataPoints.title2}}({{dataPoints.year}})</div>
        <div id="C">IMDB Rating: {{dataPoints.IMDB}}★</div>
        
        </div>
        </div>
        </div></div>

</div>

</div>