[id*="button"] {
    border-radius: 10px 10px 10px 10px;
    height: 40px; 
    width: 80px;
}

#button0 {
    color: white;
    position: absolute;
    left: 400px;
    top: 25px;

   
    background-color: rgb(29, 29, 29);
}
#button0:hover {
    background-color: rgb(40, 40, 40);
}


#button1 {
    color: white;
    position: absolute;
    left: 490px;
    top: 25px;


    background-color: rgb(29, 29, 29);
}
#button1:hover {
    background-color: rgb(40, 40, 40);
}
#button2 {
 
    color: white;
    position: absolute;
    left: 580px;
    top: 25px;

    background-color: rgb(29, 29, 29);
}
#button2:hover {
    background-color: rgb(40, 40, 40);
}
#button3 {

    color: white;
    position: absolute;
    left: 670px;
    top: 25px;


    background-color: rgb(29, 29, 29);
}
#button3:hover {
    background-color: rgb(40, 40, 40);
}
#button4 {

    color: white;
    position: absolute;
    left: 760px;
    top: 25px;

   background-color: rgb(29, 29, 29);
}
#button4:hover {
    background-color: rgb(40, 40, 40);
}

#button5 {

    color: white;
    position: absolute;
    left: 850px;
    top: 25px;


    background-color: rgb(29, 29, 29);
}
#button5:hover {
    background-color: rgb(40, 40, 40);
}
#button6 {

    color: white;
    position: absolute;
    left: 940px;
    top: 25px;


    background-color: rgb(29, 29, 29);
}
#button6:hover {
    background-color: rgb(40, 40, 40);
}